.form {
}

.form > label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  text-align: left;
  margin-bottom: 16px;

  width: 360px;
}

.form > label > input {
  border: 1px solid #808080;
  border-radius: 4px;
  height: 40px;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
  margin-top: 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form > label > input:hover {
  border: 1px solid #000;
}

.form > label > input:focus {
  border: 1px solid #4e75ff;
  outline: none;
}

.form > button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background: #4e75ff;
  border: none;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  display: block;
  margin-left: 0;
}

.form > button:hover {
  background: #6c8cff;
}

.form > fieldset {
  border: 1px solid #808080;
  border-radius: 4px;

  padding: 24px 48px 8px 48px;
  width: 360px;
  text-align: left;

  margin-bottom: 24px;
  box-sizing: border-box;
}

.form > fieldset:hover {
  border: 1px solid #000;
}

input[type='radio'] {
  border: 1px solid #757575;
  border-radius: 14px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.form > fieldset label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  margin-right: 48px;
  width: 112px;
}

.form > fieldset label:last-child {
  margin-right: 0;
}

.form > fieldset > legend {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: left;
}
